*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/lib-gaze-tracker/lib-gaze-tracker-release.aar
/lib-gaze-tracker/lib-gaze-tracker-release-bk.aar
任务指导语.pptx
任务指导语2.pptx
materials.pptx
cmd.txt
/lib-gaze-tracker/build
.idea